body {
    margin: 0;
    text-align: center;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
}

.main {
    background-image: url(images/pitch.jpg);
    background-size: cover;
    padding: 10px 0px 40px 0px;
}

.logo {
    width: 100px;
    filter: contrast(2%);
    filter: brightness(0);

}

.title {
    text-shadow: 0px 0px 6px black;
}

.underline {
    border-bottom: 5px solid rgba(0, 0, 0, 0.635);
}

.btn {
    background: black;
    color: white;
    font-family: inherit;
    border: none;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    transition: 0.3s;
}

.btn:hover {
    background: whitesmoke;
    color: black;
}

h2 {
    color: rgba(11, 11, 11, 0.799);
    font-weight: bold;
}